.header{
    width: 100%;
    height: 69px;
    background: black;
    color: white;
}
.header .header-contain{
    width: 1200px;
    margin: auto;
    height: 69px;
    line-height:69px;
    background: black;
}

.header .header-contain .logo{
    width:235px;
    height: 64px;
    float:left;
}

.header .header-contain .logo .login-title{
    display:block;
    width:100%;
    height:100%;
    background:url("https://www.python.org/static/img/python-logo.png") no-repeat;
}

.header .header-contain .menu{
    float: left;
    margin-left: 150px;
}

.header .header-contain .menu li{
    float: left;
    height: 69px;
}

.header .header-contain .menu li a{
    padding:0 30px;
}

.header .header-contain .menu li:hover{
    border-bottom:5px solid blue;
    box-sizing: border-box;
}

.header .header-contain .menu li.active{
    border-bottom: 5px solid blue;
    box-sizing:border-box;
}

.header .header-contain .login-box{
    float: right;
}

.header .header-contain .login-box i{
    color: red;
    fongt-size:25px;
    vertical-align:-2px;
}

/*foot start*/
.footer{
    width: 100%;
    background: #dfe1ff;
}

.footer .foot-box{
    width: 1200px;
    margin: auto;
    background: #dfe1ff;
    text-align: center;
    color: #5c708f;
}

.footer .foot-box .footer-content{
    line-height: 35px;
    padding: 20px 0;
    background:url("https://www.python.org/static/img/python-logo.png") no-repeat 50px 15px/300px 100px;
}

.footer .bottom-content{
    background: black;
    text-align: center;
    line-height: 50px;
    color: red;
}
.footer .bottom-content p{
    width: 1200px;
    margin: auto;
    background: black;
}