body{
    background: rgba(241, 255, 218, 0.49);
}
.contain{
    width: 100%;
    padding-top: 50px;
}

.contain .login-contain{
    width: 400px;
    margin: auto;
    background: rgba(125, 151, 162, 0.27);
    padding: 0 20px;
}

.contain .login-contain .login-top{
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid black;
}

.contain .login-contain .login-top h2{
    float: left;
    border-bottom: 5px solid blue;
    box-sizing: border-box;
    height: 60px;
}

.contain .login-contain .login-top a{
    float: right;
    color: rgba(168, 90, 15, 0.94);
}

/*form*/
.contain .login-contain form div{
    margin-top: 20px;
}

.contain .login-contain form div input{
    width: 100%;
    height: 35px;
    padding-left: 10px;
    box-sizing: border-box;
}

.contain .login-contain form div label input{
    width: 15px;
    height: 15px;
    vertical-align: -3px;
}

.contain .login-contain form div a{
    float: right;
    color: rgba(250, 83, 66, 0.84);
}

.contain .login-contain form div input[type=submit]{
    background: rgba(188, 165, 45, 0.82);
    width: 60px;
    height: 40px;
    margin-left: 170px;
    margin-bottom: 20px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
}